html, body {
  background-color: $background-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*:focus{
  outline-color: $primary-color;
}
